.block-link {
	position:relative
}
.block-link--lowlight {
	background-color:#2a2c2e
}
.block-link--lowlight .block-link__heading {
	color:#fff
}
.block-link__inner {
	-webkit-box-flex:0;
	-ms-flex:0 1 auto;
	flex:0 1 auto;
	width:100%
}
.block-link--pos-h-left .block-link__inner,.block-link--pos-h-right .block-link__inner {
	width:50%
}
@media screen and (min-width: 46.875em) and (max-width: 61.8125em) {
	.block-link--pos-h-left .block-link__inner,.block-link--pos-h-right .block-link__inner {
		width:100%;
		height:100%
	}
}
@media screen and (min-width: 61.875em) {
	.block-link--pos-h-left .block-link__inner,.block-link--pos-h-right .block-link__inner {
		width:42%
	}
}
.no-flexbox .block-link--pos-h-right .block-link__inner {
	position:relative;
	float:right
}
.block-link__heading {
	font-family:"Brandon", Helvetica, Arial, sans-serif;
	font-weight:500;
	-webkit-font-smoothing:antialiased;
	font-size:1.3125em
}
.block-link__link {
	display:block;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	width:100%;
	height:100%;
	padding:30px;
	text-align:center
}
.block-link--pos-h-left .block-link__link {
	-webkit-box-pack:start;
	-ms-flex-pack:start;
	justify-content:flex-start
}
.block-link--pos-h-center .block-link__link {
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center
}
.block-link--pos-h-right .block-link__link {
	-webkit-box-pack:end;
	-ms-flex-pack:end;
	justify-content:flex-end
}
.block-link--pos-v-top .block-link__link {
	-webkit-box-align:start;
	-ms-flex-align:start;
	-ms-grid-row-align:flex-start;
	align-items:flex-start
}
.block-link--pos-v-center .block-link__link {
	-webkit-box-align:center;
	-ms-flex-align:center;
	-ms-grid-row-align:center;
	align-items:center
}
.block-link--pos-v-bottom .block-link__link {
	-webkit-box-align:end;
	-ms-flex-align:end;
	-ms-grid-row-align:flex-end;
	align-items:flex-end
}
@media screen and (min-width: 46.875em) and (max-width: 61.8125em) {
	[class*='block-link--pos-'] .block-link__link {
		-webkit-box-pack:initial;
		-ms-flex-pack:initial;
		justify-content:initial;
		-webkit-box-align:initial;
		-ms-flex-align:initial;
		-ms-grid-row-align:initial;
		align-items:initial
	}
}
@media screen and (max-width: 46.8125em) {
	.home-hero--woodworker {
		background-image:url(https://cdn.shopify.com/assets2/homepage/hero/woodworker@mobile-3fe58797f724301168bb455d2428bdcb89281053dca2d62cd47e1b1cf7460382.jpg);
		background-size:cover
	}
}
@media only screen and (max-width: 46.8125em) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (max-width: 46.8125em) and (min--moz-device-pixel-ratio: 1.3), only screen and (max-width: 46.8125em) and (-webkit-min-device-pixel-ratio: 1.30208), only screen and (max-width: 46.8125em) and (min-resolution: 125dpi), only screen and (max-width: 46.8125em) and (min-resolution: 1.3dppx) {
	.home-hero--woodworker {
		background-image:url(https://cdn.shopify.com/assets2/homepage/hero/woodworker@mobile-2x-abdcaaefde150a88beb8cf386895e009c3f9972e361ac5a41043093c4631c5f4.jpg)
	}
}
@media screen and (min-width: 46.875em) and (max-width: 61.8125em) {
	.home-hero--woodworker {
		background-image:url(https://cdn.shopify.com/assets2/homepage/hero/woodworker@tablet-2259a9ffba4e20cb66f88078b72f4df17092c59bc80c6c3ecfc7d1544710624e.jpg);
		background-size:cover
	}
}
@media only screen and (min-width: 46.875em) and (max-width: 61.8125em) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 46.875em) and (max-width: 61.8125em) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 46.875em) and (max-width: 61.8125em) and (-webkit-min-device-pixel-ratio: 1.30208), only screen and (min-width: 46.875em) and (max-width: 61.8125em) and (min-resolution: 125dpi), only screen and (min-width: 46.875em) and (max-width: 61.8125em) and (min-resolution: 1.3dppx) {
	.home-hero--woodworker {
		background-image:url(https://cdn.shopify.com/assets2/homepage/hero/woodworker@tablet-2x-ff907762158c1c0251217aa84d7daee2400ff5ba732e2cdc3608354ae66bb9aa.jpg)
	}
}
@media screen and (min-width: 61.875em) {
	.home-hero--woodworker {
		background-image:url(https://cdn.shopify.com/assets2/homepage/hero/woodworker@desktop-edc69421f8aaa3a03b395b4130c28c010ae909a5fed540a298bc5f6a2a0e4387.jpg);
		background-size:cover
	}
}
@media only screen and (min-width: 61.875em) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 61.875em) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 61.875em) and (-webkit-min-device-pixel-ratio: 1.30208), only screen and (min-width: 61.875em) and (min-resolution: 125dpi), only screen and (min-width: 61.875em) and (min-resolution: 1.3dppx) {
	.home-hero--woodworker {
		background-image:url(https://cdn.shopify.com/assets2/homepage/hero/woodworker@desktop-2x-1e2427cc08dc57bcffc304744ed65859582d6a5a4e6bd4aa35d008dfdbd2f2c3.jpg)
	}
}
@media screen and (max-width: 46.8125em) {
	.home-hero--art {
		background-image:url(https://cdn.shopify.com/assets2/homepage/hero/art@mobile-3741782414c624158006a865686703d694c0aa003df42d2c634989d8bb181394.jpg);
		background-size:cover
	}
}
@media only screen and (max-width: 46.8125em) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (max-width: 46.8125em) and (min--moz-device-pixel-ratio: 1.3), only screen and (max-width: 46.8125em) and (-webkit-min-device-pixel-ratio: 1.30208), only screen and (max-width: 46.8125em) and (min-resolution: 125dpi), only screen and (max-width: 46.8125em) and (min-resolution: 1.3dppx) {
	.home-hero--art {
		background-image:url(https://cdn.shopify.com/assets2/homepage/hero/art@mobile-2x-dc7c5adfbcb31314bf9bd0a98125264faa152a12ef5c0f34aa889a1a5522195a.jpg)
	}
}
@media screen and (min-width: 46.875em) and (max-width: 61.8125em) {
	.home-hero--art {
		background-image:url(https://cdn.shopify.com/assets2/homepage/hero/art@tablet-2998081cd7505ed996928d70bd00330652808b998ff75c1ee927e319a6e84c2c.jpg);
		background-size:cover
	}
}
@media only screen and (min-width: 46.875em) and (max-width: 61.8125em) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 46.875em) and (max-width: 61.8125em) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 46.875em) and (max-width: 61.8125em) and (-webkit-min-device-pixel-ratio: 1.30208), only screen and (min-width: 46.875em) and (max-width: 61.8125em) and (min-resolution: 125dpi), only screen and (min-width: 46.875em) and (max-width: 61.8125em) and (min-resolution: 1.3dppx) {
	.home-hero--art {
		background-image:url(https://cdn.shopify.com/assets2/homepage/hero/art@tablet-2x-e487d9c29d48bc64661a044080973786f8e0a062ff50bb5b751913a1c570b004.jpg)
	}
}
@media screen and (min-width: 61.875em) {
	.home-hero--art {
		background-image:url(https://cdn.shopify.com/assets2/homepage/hero/art@desktop-2c1fc48797fec2d81dccb281ee4b625d0cd12ba041a417d98372aeeb49f2d8bc.jpg);
		background-size:cover
	}
}
@media only screen and (min-width: 61.875em) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 61.875em) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 61.875em) and (-webkit-min-device-pixel-ratio: 1.30208), only screen and (min-width: 61.875em) and (min-resolution: 125dpi), only screen and (min-width: 61.875em) and (min-resolution: 1.3dppx) {
	.home-hero--art {
		background-image:url(https://cdn.shopify.com/assets2/homepage/hero/art@desktop-2x-814d99da0a41a6932560e4588dc46704656eb4dfbdd27e5e41b0889f4d94a050.jpg)
	}
}
@media screen and (max-width: 46.8125em) {
	.home-hero--sewing {
		background-image:url(https://cdn.shopify.com/assets2/homepage/hero/sewing@mobile-29b4a467c9b2675ee628284f8f59c4d56970d10d45f056001c8862597495ced6.jpg);
		background-size:cover
	}
}
@media only screen and (max-width: 46.8125em) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (max-width: 46.8125em) and (min--moz-device-pixel-ratio: 1.3), only screen and (max-width: 46.8125em) and (-webkit-min-device-pixel-ratio: 1.30208), only screen and (max-width: 46.8125em) and (min-resolution: 125dpi), only screen and (max-width: 46.8125em) and (min-resolution: 1.3dppx) {
	.home-hero--sewing {
		background-image:url(https://cdn.shopify.com/assets2/homepage/hero/sewing@mobile-2x-dd53f7fcf000796ec8ca1acfc50ea4daefa51c2c7f5777d4ac85da2df21c8d3a.jpg)
	}
}
@media screen and (min-width: 46.875em) and (max-width: 61.8125em) {
	.home-hero--sewing {
		background-image:url(https://cdn.shopify.com/assets2/homepage/hero/sewing@tablet-25483d65fb449a2069962bc9443ccad1948a66d0ac44f06eb538af67cb6633d2.jpg);
		background-size:cover
	}
}
@media only screen and (min-width: 46.875em) and (max-width: 61.8125em) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 46.875em) and (max-width: 61.8125em) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 46.875em) and (max-width: 61.8125em) and (-webkit-min-device-pixel-ratio: 1.30208), only screen and (min-width: 46.875em) and (max-width: 61.8125em) and (min-resolution: 125dpi), only screen and (min-width: 46.875em) and (max-width: 61.8125em) and (min-resolution: 1.3dppx) {
	.home-hero--sewing {
		background-image:url(https://cdn.shopify.com/assets2/homepage/hero/sewing@tablet-2x-d083fbe989c170b3ffd5a0d17478817b23fa17cf98f11326d2843e8ecaf4a7eb.jpg)
	}
}
@media screen and (min-width: 61.875em) {
	.home-hero--sewing {
		background-image:url(https://cdn.shopify.com/assets2/homepage/hero/sewing@desktop-5a7747a37c839c11c7748fb2bc0fbb5b37b175498e42e63c5ec63fb425441549.jpg);
		background-size:cover
	}
}
@media only screen and (min-width: 61.875em) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 61.875em) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 61.875em) and (-webkit-min-device-pixel-ratio: 1.30208), only screen and (min-width: 61.875em) and (min-resolution: 125dpi), only screen and (min-width: 61.875em) and (min-resolution: 1.3dppx) {
	.home-hero--sewing {
		background-image:url(https://cdn.shopify.com/assets2/homepage/hero/sewing@desktop-2x-82669284f923231b8908d7db7a96e11738cbd3a531fb920e8dadb3d4e0e04f8e.jpg)
	}
}
.home-hero {
	min-height:25em;
	background-position:50% 50%
}
@media screen and (max-width: 46.8125em) {
	.home-hero {
		padding-top:5.625em
	}
}
@media screen and (min-width: 46.875em) and (max-width: 61.8125em) {
	.home-hero {
		max-height:27.5em
	}
}
@media screen and (min-width: 46.875em) {
	.home-hero {
		height:calc(100vh - 220px)
	}
}
@media screen and (min-width: 61.875em) {
	.home-hero {
		min-height:34.375em;
		max-height:37.5em
	}
}
@media screen and (min-width: 46.875em) {
	.home-hero,.home-hero .section-heading {
		text-align:left
	}
}
.home-secondary {
	background-color:#ced3d3
}
.home-secondary .block-link {
	overflow:hidden;
	height:220px
}
@media screen and (min-width: 46.875em) and (max-width: 61.8125em) {
	.home-secondary .block-link {
		height:352px
	}
}
.home-secondary .block-link__link {
	position:relative;
	overflow:hidden;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	background-repeat:no-repeat;
	-webkit-transition:-webkit-transform 300ms ease-in-out;
	transition:-webkit-transform 300ms ease-in-out;
	transition:transform 300ms ease-in-out;
	transition:transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out
}
@media screen and (min-width: 61.875em) {
	.home-secondary .block-link__link:hover,.home-secondary .block-link__link:focus {
		-webkit-transform:scale(1.03);
		-ms-transform:scale(1.03);
		transform:scale(1.03)
	}
}
@media screen and (max-width: 46.8125em) {
	.home-secondary .block-link__heading {
		font-size:1.25em
	}
}
@media screen and (min-width: 61.875em) {
	.home-secondary .block-link__heading {
		font-size:1.125em
	}
}
.block-link__link--online-store {
	background-image:url(https://cdn.shopify.com/assets2/homepage/new-online-store-777220f2023dd8836426e026bcd5dd6edd2964030231f45a347bce0ee27b1fbc.png);
	background-size:auto 220px;
	background-color:#49505a
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.30208), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
	.block-link__link--online-store {
		background-image:url(https://cdn.shopify.com/assets2/homepage/new-online-store-2x-f058437cd5f8d6021f809c973f0bf595fdd992b4c83a039e957283a0b1655924.png)
	}
}
@media screen and (max-width: 46.8125em) {
	.block-link__link--online-store {
		background-position:-96px 0;
		background-position:right calc(65vw - 45px) top
	}
}
@media screen and (min-width: 46.875em) and (max-width: 61.8125em) {
	.block-link__link--online-store {
		background-size:auto 65%;
		background-position:50% 100%
	}
}
@media screen and (min-width: 61.875em) {
	.block-link__link--online-store {
		background-position:right 14vw top
	}
}
@media screen and (min-width: 1440px) {
	.block-link__link--online-store {
		background-position:0 0
	}
}
.block-link__link--channels {
	background-image:url(https://cdn.shopify.com/assets2/homepage/channels-9fb515cac1ec3776db3fdad89ff3756125d06d0f8470a7515455a3e857384f9a.png);
	background-size:auto 220px;
	background-color:#2b2b2b
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.30208), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
	.block-link__link--channels {
		background-image:url(https://cdn.shopify.com/assets2/homepage/channels-2x-a96c9ec58ff90d18c4ae6bd85a320ca75c914f9a364e5bfc47d99e9e3e441a66.png)
	}
}
@media screen and (max-width: 46.8125em) {
	.block-link__link--channels {
		background-position:-96px 0;
		background-position:right calc(65vw - 90px) top
	}
}
@media screen and (min-width: 46.875em) and (max-width: 61.8125em) {
	.block-link__link--channels {
		background-size:auto 65%;
		background-position:50% 100%
	}
}
@media screen and (min-width: 61.875em) {
	.block-link__link--channels {
		background-position:right 14vw top
	}
}
@media screen and (min-width: 1440px) {
	.block-link__link--channels {
		background-position:0 0
	}
}
.block-link__link--build-a-business {
	background-image:url(https://cdn.shopify.com/assets2/homepage/lite-plan@mobile-5aedf1b17009981b5445e9a2b9b849281234321bf42c97ac6eee308641d1680f.png);
	background-size:contain;
	background-color:#115b5a;
	background-position:60% 0
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.30208), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
	.block-link__link--build-a-business {
		background-image:url(https://cdn.shopify.com/assets2/homepage/lite-plan@mobile-2x-5289cc101dec2643b23fa65ca978f6c1f1c718c102d84b94eb9d1f58036e8f7e.png)
	}
}
@media screen and (max-width: 46.8125em) {
	.block-link__link--build-a-business {
		background-position:-96px 0;
		background-position:right calc(65vw - 60px) top
	}
}
@media screen and (min-width: 46.875em) and (max-width: 61.8125em) {
	.block-link__link--build-a-business {
		background-size:auto 65%;
		background-position:50% 100%
	}
}
@media screen and (min-width: 61.875em) {
	.block-link__link--build-a-business {
		background-image:url(https://cdn.shopify.com/assets2/homepage/lite-plan-ac233af29c0976e8edbd96adee5951eda4989adc528c7bd8e91daefddc3ba315.jpg);
		background-size:480px auto
	}
}
@media only screen and (min-width: 61.875em) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-width: 61.875em) and (min--moz-device-pixel-ratio: 1.3), only screen and (min-width: 61.875em) and (-webkit-min-device-pixel-ratio: 1.30208), only screen and (min-width: 61.875em) and (min-resolution: 125dpi), only screen and (min-width: 61.875em) and (min-resolution: 1.3dppx) {
	.block-link__link--build-a-business {
		background-image:url(https://cdn.shopify.com/assets2/homepage/lite-plan-2x-712258e0b8e63294791c9b6cf2a31947bbbb593c995c49e86208ba5f24dcacc9.jpg)
	}
}
@media screen and (min-width: 61.875em) {
	.js-is-loaded .block-link__link--build-a-business {
		-webkit-animation-name:bg-cycle-secondary--6;
		animation-name:bg-cycle-secondary--6;
		-webkit-animation-duration:1.8s;
		animation-duration:1.8s
	}
}
.block-link__link--blog {
	background-image:url(https://cdn.shopify.com/assets2/homepage/blog-bf88eb6641e7f4a3b01db953f50a9875c0e219650158a32f168866e49d33f639.jpg);
	background-size:cover;
	background-color:#49505a
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.30208), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
	.block-link__link--blog {
		background-image:url(https://cdn.shopify.com/assets2/homepage/blog-2x-fbbcadd2a3bc244aa2526eac07249c4a56f4a6a20a7d7a194f4e94ea2121b1b0.jpg)
	}
}
@media screen and (max-width: 46.8125em) {
	.block-link__link--blog {
		background-position:25% 50%
	}
}
